body {
    background-color: #C4B0FF;
}

hr {
    border-style: none;
    border-style: dotted none none;
    border-bottom: #C4B0FF;
    border-width: 3px;
    width: 1%;

}

h1 {
    color: #000000;
}

h2 {
    color: #000000;
}

label {
    color: #000000;
}

label {
    color: #000000;
}
h3{
    color:#000000 ;
}

.ax{
    color:#7A3E3E;
}
